@import "./abstract/mixins";

.subscribe {
    margin: 14.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-top: 4rem;
    }

    &__input {
        margin-top: 2rem;
        border-radius: 15rem;
        width: 40%;
        border-color: #fff;
        font-size: 30px;

        @include respond(tab-port) {
            width: 80%;  
        }    

        
    }

    &__button {
        margin-top: 2rem;
        width: 40%;
        padding: 5px;
        margin-bottom: 5rem;
        @include respond(tab-port) {
            width: 80%;              
        }   
    }

    &__logo {
        width: 10rem;
    }
}