@import "./abstract/mixins";
@import '@animxyz/core';
@include xyz-all;

.entrance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 30rem;

    @include respond(phone) {
        padding: 0 10rem 0 10rem;
    }
}