@import "./abstract/mixins";

.roadmap {
    background-image: url("../../../public/images/roadmap_background.png");
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-land) {
        padding: 0 10rem;
    }

    &__title {
        margin-top: 13.4rem;
        text-transform: uppercase;

        @include respond(tab-land) {
            margin-top: 2rem;
        }  
    }

    &__box {
        display: flex;
        flex-direction: row;  
        margin-top: 5rem;
        
        @include respond(tab-land) {
            flex-direction: column;
            margin-top: 2rem;            
        }     
    }

    &__item {
        display: flex;
        flex-direction: column;  
        align-items: center;


        @include respond(tab-land) {   
            margin-bottom: 7rem;
        }    

        &--right {
            @include respond(tab-land) {
                margin-left: 23rem;
                
            }    
            
        }

        &--left {
            @include respond(tab-land) {
                margin-right: 23rem;
            }  
        }
    }

    &__line {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 19.6rem;

        @include respond(tab-land) {
            margin-bottom: 6rem;
        }
    }

    &__item-box {
        display: flex;
        flex-direction: row;
        align-items: center;  
        @include respond(tab-land) {
            margin-top: -1.5rem;
        } 
    }

    &__item-title {
        width: 23rem;
        height: 6rem;
        @include respond(tab-land) {
            width: 20rem;
        }
    }

    &__item-month {
        text-transform: uppercase;

    }

    &__item-icon {
        width: 3rem;
        margin: 0 5px;
    }

    &__line-circle {
        display: flex;
        margin-top: 5px;
        position: absolute;
        gap: 20rem;

        @include respond(tab-land) {
            gap: 12rem;
            flex-direction: column;
            top: 15rem;
            margin-right: 3px;
        }
    }

    &__line-icon {   
        width: 3rem;
        z-index: 99;

        &:first-child {
            fill: #2ea4d7;
        }
    }

    &__vertical {
        margin-top: 18rem;
    }
}