:root {
    //color
    --color-primary-pressed:#120D0D;
    --color-primary: #262D3E;
    --color-primary-hover:#454B5A;    
    --color-primary-600: #6A6869;
    --color-primary-400: #838791;
    --color-primary-200: #C1C3C8;
    --color-primary-100: #E0E1E4;
    --color-primary-50: #F0F0F2;
    --color-primary-30: #F8F8F9;

    --color-secondary-pressed:#C3B77C;
    --color-secondary: #FFFF00;
    --color-secondary-hover:#ebeb4b;    
    --color-secondary-400: #e9e973;
    --color-secondary-200: #e4e49c;
    --color-secondary-100: #e0e0c1;

    --color-tertiary-pressed:#2dacd3;
    --color-tertiary: #56A9C2;
    --color-tertiary-hover:#6eb0c4;    
    --color-tertiary-400: #7ab1c2;
    --color-tertiary-200: #8bb4c0;
    --color-tertiary-100: #a7bec5;

    --color-black: #120D0D;
    --color-black-900: #262D3E;
    --color-black-800: #454B5A;
    --color-black-600: #6A6869;
    --color-black-400: #838791;
    --color-black-200: #C1C3C8;
    --color-black-100: #E0E1E4;
    --color-black-50: #F0F0F2;
    --color-black-30: #F8F8F9;
    --color-white: #F8F8F9;
    --color-white-pure: #fff;
    
    




    //default font size
    --default-font-size: 1.4rem;
}