.container {
    scroll-behavior: smooth;
}

.loading {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

    &__logo {
        width: 40rem;
        animation: bounce infinite linear;
    }
}